# Python
*.py[cod]
__pycache__/
.venv/

# Distribution directories
dist/
build/
*.egg-info/

# Documentation
site/

# Editors
.vscode/
.idea/
*.swp
*.swo
*~

# Tools
.cache/
.pytest_cache/
.ruff_cache/
*.coverage

# Notebooks
.ipynb_checkpoints/

# MacOS finder files
*.DS_Store

# Installed Volume Explorer files
qim3d/viz/volume_explorer/.nvm
qim3d/viz/volume_explorer/viewer_app
