# Compiled Python files
*.pyc
*.pyo
__pycache__/

# Distribution directories
dist/
build/
*.egg-info/

# Development and editor files
.vscode/
.idea/
.cache/
.pytest_cache/
*.swp
*.swo
*.pyc
*~

# Notebook checkpoints
.ipynb_checkpoints/
