/* 
qim3d colors:
#ff9900
#cd4d00
#990000
*/


code {
  border-radius: 6px !important;
}

.md-typeset a {
  color: orange;
  word-break: break-word;
}
.md-search__form:hover {
  background-color: #d0d0d0 !important;
}

.md-nav__item .md-nav__link--active,
.md-nav__item .md-nav__link--active code {
  color: orange;
  /* make bold */
  font-weight: bold;
}


/* Colors for example box */

.md-typeset .example>.admonition-title, .md-typeset .example>summary{
  background-color: #ff990020
}

.md-typeset .example>.admonition-title{
  background-color: #ff990020
}


.md-typeset .example>.admonition-title:before, .md-typeset .example>summary:before {
  background-color: #ff9900
}

.md-typeset .admonition.example, .md-typeset details.example {
  border-color: #ff9900;
}

.md-typeset .example>.admonition-title:after, .md-typeset .example>summary:after {
  color: #ff9900;
}

.doc .doc-contents{
  /* Marging by the end of each function */
  margin-bottom: 10em;
}

body > div.md-container > main > div > div.md-content > article > div > div > p {
  /* hide the paragraph from the __init__ */
  display: none;
}

body > header{
  /* very soft drop shadow */
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.05) !important;
  /* No borders */
}
#playButton {
  cursor: pointer;
  margin-top: 0.05em;
  vertical-align: middle;
}
